<header>
  <app-navbar></app-navbar>
</header>

<main class="container">
<router-outlet></router-outlet>
</main>

<!-- <h3>{{ data.title }}</h3>
<h1> {{CurrentDateTime | date: 'dd/MMM/YYYY hh:mm:ss'}}</h1>


<img width="50" alt="favico" src="../favicon.ico" (click)="onLogoClicked()" />
<label>Nome:</label>
<input
  class="demo"
  [value]="data.title"
  (keyup)="onKeyUp(titleInput.value)"
  #titleInput
/><br />

<div class="course">
  <app-course-card
    *ngFor="let course of courses; index as i; first as isFirst; last as isLast"
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    (courseSelected)="OnClickComponent($event)"
    [Course]="course"
    [CardIndex]="i + 1"
  >
  </app-course-card>
</div> -->
